extends layout

block content
  h1 Reservation

  h2 La carte
  form(action="/" method="POST")
    label(for="ingredients") Ingredients : 
    select      
      each val in ingredients
        option= val
    label(for="drinks") Drinks : 
    select      
      each val in drinks
        option= val
    label(for="taglieri") taglieri : 
    select      
      each val in taglieri
        option= val

