extends layout


block content

  h1 Reservation

  main
    h2 La carte
    h2 Votre commande
    form(action="/" method="POST" class="form-carte")
      label(for="taglieri" class="form__label") Taglieri : 
      select(class="form__select form__select-taglieri")      
        each val in allTaglieri
          option= val
      label(for="desserts" class="form__label") Desserts : 
      select(class="form__select form__select-dessert")      

        each val in allDesserts
          option= val
      label(for="drinks" class="form__label") Drinks : 
      select(class="form__select form__select-drink")      

        each val in allDrinks
          option= val

      button(class="form__button" type="button") Add command
    div(class="command")
      p Votre taglieri 
      p(class="command__taglieri")
      p Votre dessert
      p(class="command__dessert")
      p Votre boisson
      p(class="command__drink")

  script
    include ../public/javascripts/index.js
