 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #1d1d1d;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  padding: 1rem;
}

main {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

////////////
//  form  //
////////////

.form-carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 1rem 0 1rem;

  .form__label {
    width: 50%;
  }

  .form__select {
    width: 50%;
  }

  .form__button {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

///////////////
//  command  //
///////////////

.command {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    text-align: center;
    width: 50%;
  }
}
